.back-top{

  position:fixed;

  right:25px;

  bottom:105px;

  width:55px;

  height:55px;

  border:none;

  border-radius:50%;

  background:#d4af37;

  color:#111;

  font-size:20px;

  cursor:pointer;

  box-shadow:0 10px 25px rgba(0,0,0,.3);

  opacity:0;

  visibility:hidden;

  transform:translateY(20px);

  transition:.3s;

  z-index:999;

}


.back-top.show{

  opacity:1;

  visibility:visible;

  transform:translateY(0);

}


.back-top:hover{

  background:#00c853;

  color:white;

  transform:translateY(-5px);

}


/* Mobile */

@media(max-width:768px){

.back-top{

  width:48px;

  height:48px;

  font-size:18px;

  right:18px;

  bottom:90px;

}

}